<footer>
		<div id="bottom-titles">
				<div id="name">
					 <a href="/" rel="home">
							<h1>{{bloginfo('name')}}</h1>
					 </a>
				</div>
				{% if cpt %}
					<div id="cat_title">
						<h1 class="{{cpt_title}}">{{cpt_title}}</h1>
					</div>
				{% elseif photo %}
					<div id="cat_title">
						<h1>{{photo.name}}</h1>
					</div>
				{% else %}
				{% endif %}
		</div>

</footer>

{{ function('wp_footer') }}
