<article class="project {{ post.post_type }}" id="project-{{post.ID}}">
	{% block content %}

		{% if post.get_thumbnail %}
			
			<figure class="article_inner" onclick="window.location='{{post.link}}'">

				<div class="article_overlay">
					<div class="overlay-inner">
						<div class="top">
							<h2>{{ post.client }}</h2>
							<p class="title">{{post.title}}</p>
						</div>
					</div>
				</div><!-- .article_overlay -->

				{% if post.thumbnail_size == 'ThWidth' %}
					<img src="{{post.thumbnail.src|resize(100)}}" />
				{% elseif post.thumbnail_size == 'XSWidth' %}
					<img src="{{post.thumbnail.src|resize(150)}}" />
				{% elseif post.thumbnail_size == 'SWidth' %}
					<img src="{{post.thumbnail.src|resize(200)}}" />
				{% elseif post.thumbnail_size == 'SMWidth' %}
					<img src="{{post.thumbnail.src|resize(250)}}" />
				{% elseif post.thumbnail_size == 'MWidth' %}
					<img src="{{post.thumbnail.src|resize(350)}}" />	
				{% elseif post.thumbnail_size == 'LWidth' %}
					<img src="{{post.thumbnail.src|resize(450)}}" />
				{% elseif post.thumbnail_size == 'XLWidth' %}
					<img src="{{post.thumbnail.src|resize(520)}}" />
				{% elseif post.thumbnail_size == 'XXLWidth' %}
					<img src="{{post.thumbnail.src|resize(600)}}" />
				{% elseif post.thumbnail_size == 'XXXLWidth' %}
					<img src="{{post.thumbnail.src|resize(900)}}" />
				{% else %}
					<img src="{{post.thumbnail.src}}" />
				{% endif %}

			</figure><!-- figure -->

		{% endif %}
		
	{% endblock %}
</article><!-- article -->