
{% set th_padding = post.thumb_pad|join(' ') %}

<article class="{{ post.post_type }}{% if th_padding %} {{ th_padding }}{% endif %}" id="project-{{post.ID}}">
	{% block content %}

		{% if post.get_thumbnail %}
			
			<figure class="article_inner" onclick="window.location='{{post.link}}'">

				<div class="article_overlay">
					<div class="overlay-inner">
						<div>
							<h6>{{ post.ref_hover }}</h6>
							<h2>{{ post.title }}</h2>
						</div>
						{% if post.post_type == 'photography' %}
							<ul>
								{% for term in post.get_terms('photo_category') %}
									<li><a href="{{term.link}}">{% if not loop.first%} - {% endif %}{{term.name}}</a></li>
								{% endfor %}
							</ul>
						{% elseif post.post_type == 'creative-direction' %}
							<ul>
								{% for term in post.get_terms('project_category') %}
									<li><a href="{{term.link}}">{% if not loop.first%} - {% endif %}{{term.name}}</a></li>
								{% endfor %}
							</ul>
						{% endif %}
					</div>
				</div><!-- .article_overlay -->

				{% if post.thumbnail_size == 'ThWidth' %}
					<img src="{{post.thumbnail.src|resize(100)}}" alt="{{post.ref_hover}} - {{site.name}}"/>
				{% elseif post.thumbnail_size == 'XSWidth' %}
					<img src="{{post.thumbnail.src|resize(150)}}" alt="{{post.ref_hover}} - {{site.name}}"/>
				{% elseif post.thumbnail_size == 'SWidth' %}
					<img src="{{post.thumbnail.src|resize(200)}}" alt="{{post.ref_hover}} - {{site.name}}"/>
				{% elseif post.thumbnail_size == 'SMWidth' %}
					<img src="{{post.thumbnail.src|resize(250)}}" alt="{{post.ref_hover}} - {{site.name}}"/>
				{% elseif post.thumbnail_size == 'MWidth' %}
					<img src="{{post.thumbnail.src|resize(350)}}" alt="{{post.ref_hover}} - {{site.name}}"/>	
				{% elseif post.thumbnail_size == 'LWidth' %}
					<img src="{{post.thumbnail.src|resize(450)}}" alt="{{post.ref_hover}} - {{site.name}}"/>
				{% elseif post.thumbnail_size == 'XLWidth' %}
					<img src="{{post.thumbnail.src|resize(520)}}" alt="{{post.ref_hover}} - {{site.name}}"/>
				{% elseif post.thumbnail_size == 'XXLWidth' %}
					<img src="{{post.thumbnail.src|resize(600)}}" alt="{{post.ref_hover}} - {{site.name}}"/>
				{% elseif post.thumbnail_size == 'XXXLWidth' %}
					<img src="{{post.thumbnail.src|resize(900)}}" alt="{{post.ref_hover}} - {{site.name}}"/>
				{% else %}
					<img src="{{post.thumbnail.src}}" />
				{% endif %}

			</figure><!-- figure -->
			

		{% endif %}
		
	{% endblock %}
</article><!-- article -->