

{% for tb in post.get_field('tb_single') %}
				 
	{% if tb.acf_fc_layout == 'full_width_center_image' %}
		
		<section class="section">
			<div class="inner">
				<div class="middle {{tb.format}}">	
	    			 <img class="slides{% if tb.caption %} captioned{% endif %}" src="{{TimberImage(tb.large_image).src}}" alt="{{site.name}} - {{post.title}}" />
	    			 {% if tb.caption %}<p><span></span>{{ tb.caption }}</p>{% endif %}
	    		</div>
	    	</div>
		</section><!-- section -->

	{% elseif tb.acf_fc_layout == 'background_image' %}

		<section class="section" id="full-bg" style="background-image: url('{{TimberImage(tb.bg_image).src}}');">
			<div class="inner">
				<div class="middle">
					{% if tb.lg_caption %}<h1 class="{{tb.color_capt}}">{{ tb.lg_caption }}</h1>{% endif %}
					{% if tb.sm_caption %}<h3 class="{{tb.color_capt}}">{{ tb.sm_caption }}</h3>{% endif %}
				</div>
			</div>	
		</section><!-- section -->

	{% elseif tb.acf_fc_layout == 'highlights' %}
		
		<section class="section">
			<div class="inner">
				<div class="middle">
					<h1 class="quote">{{ tb.quote }}</h1>
				</div>
			</div>
		</section><!-- section -->

	{% elseif tb.acf_fc_layout == 'row_img' %}

		<section class="section">
				{% set columns_img = tb.col_img %}
    			<div class="inner">
    				<div class="middle thumbs">
    					{% if tb.cap_img %}<p>{{ tb.cap_img }}<span></span></p>{% endif %}
	    				<div class="row">
		    				{% if columns_img == '2' %}
			    				<div class="half {{ tb.pos_img }}">
			    					<img class="slides{% if tb.cap_img %} captioned{% endif %}" src="{{TimberImage(tb.image_1).src}}" alt="{{site.name}} - {{post.title}}"/>
			    				</div>
			    				<div class="half {{ tb.pos_img }}">
			    					<img class="slides{% if tb.cap_img %} captioned{% endif %}" src="{{TimberImage(tb.image_2).src}}" alt="{{site.name}} - {{post.title}}"/>
			    				</div>	
		    				{% elseif columns_img == '3' %}	    
			    				<div class="third {{ tb.pos_img }}">
			    					<img class="slides{% if tb.cap_img %} captioned{% endif %}" src="{{TimberImage(tb.image_1).src}}" alt="{{site.name}} - {{post.title}}"/>
			    				</div>
			    				<div class="third">
			    					<img class="slides{% if tb.cap_img %} captioned{% endif %}" src="{{TimberImage(tb.image_2).src}}" alt="{{site.name}} - {{post.title}}"/>
			    				</div>
			    				<div class="third {{ tb.pos_img }}">
			    					<img class="slides{% if tb.cap_img %} captioned{% endif %}" src="{{TimberImage(tb.image_3).src}}" alt="{{site.name}} - {{post.title}}"/>
			    				</div>	
			    			{% endif %}	
			    		</div>
			    	</div>
    			</div>
    	</section><!-- section -->

	{% elseif tb.acf_fc_layout == 'description' %}

		{% set columns_text = tb.columns_text %}
		<section class="section">
			<div class="inner">
				<div class="middle description">
					<div class="row">
						{% if columns_text == '1' %}
							{{tb.text}}
						{% elseif columns_text == '2' %}	    
							<div class="half">
								{{tb.text}}
							</div>
							<div class="half">
								{{tb.text_2}}
							</div>	
						{% endif %}	
					</div>
				</div>
			</div>
		</section><!-- section -->

	{% endif %}
	
	{% if loop.last %}
		<section class="section spacer">
		</section>
	{% endif %}

{% endfor %}

