<div class="single-footer">
	<div class="inner">

		<div class="row">

				<div class="aside">

				<div class="meta">
					<h3>{{post.title}}</h3>
						<ul>
							{% for term in post.terms('project_category') %}
								<li><a href="{{term.link}}">{% if not loop.first%} - {% endif %}{{term.name}}</a></li>
							{% endfor %}
						</ul>
				</div>

			</div>
			{% if post.proj_caption %}
				<div class="post_info">
					<p class="caption">{{post.proj_caption}}</p>
					{% if post.get_field('credits') %}
						<p class="credits">{{ post.get_field('credits')}}</p>
					{% endif %}

					</div>
				 {% endif %}
			</div>

			<div class="sharing-wrap">
				<a href="javascript:void(0)" id="share-this" class="btn">Share this.</a>
				<div class="sharing-buttons">
					{% include 'partials/socials-buttons.twig' %}
				</div>
			</div>

			<span class="copyright">Copyright - {{"now"|date('Y')}}</span>

	</div>
	<div class="related">
		<article class="related-thumb">
			<figure>
				{% if post.next %}
					<a href="{{post.next.link}}">
						<div>
							<figcaption>
								<h5>Next Project</h5>
							</figcaption>
						</div>
					</a>
				{% else %}
					<a href="/">
						<div>
							<figcaption>
								<h5>Thank you</h5>
							</figcaption>
						</div>
					</a>
				{% endif %}
			</figure>
		</article>
	</div><!-- More -->

</div><!-- single-footer -->

<div id="arrow-up">
		 <span id="smooth-scroll">→</span>
</div><!-- scroll-button-->
