
<div id="arrow-up">
   	<span id="smooth-scroll" class="icon-arrow">
   		{% include 'img/arrow.svg' %}
	</span>
</div><!-- scroll-button-->

<section class="single-footer">
		<div class="inner">

			<div class="row">
				<div class="col-md-3">
				
					<div class="credits">
						<h4>{{ post.get_field('client')}}</h4>
						{% if post.post_type == 'photography' %}

							<ul>
								{% for term in post.terms('photo_category') %}
									<li><a href="{{term.link}}">{{term.name}}</a></li>
								{% endfor %}
							</ul>

							{% elseif post.post_type == 'creative-direction' %}

								<ul>
									{% for term in post.terms('project_category') %}
										<li><a href="{{term.link}}">{{term.name}}</a></li>
										{% endfor %}
								</ul>

						{% endif %}
					
						{% if post.get_field('credits') %}
							<p>{{ post.get_field('credits')}}</p>
						{% endif %}

					</div>

					<div class="sharing-wrap">
						
						<a href="javascript:void(0)" id="share-this" class="btn">Share this.</a>
						
						<div class="sharing-buttons">

							<div class="addthis_sharing_toolbox"></div>

						</div>

					</div>

				</div>

				{% if related %}
					<div class="col-md-9">
						
						<h4>More like this.</h4>
						<div class="row">
							{% for post in related %}
							    <article class="col-md-3 related-thumb row-height">
							    	<figure>
								    	<a href="{{post.link}}">
									    	{% if post.get_field('square_th') %}
									    		<img class="img-responsive" src="{{TimberImage(post.get_field('square_th')).get_src|resize(500)}}" alt="{{site.name}} - {{post.title}}"/>
									    	{% else %}
									    		<img class="img-responsive" src="{{ post.thumbnail.src|resize(500, 500,'center')}}" alt="{{site.name}} - {{post.title}}">
									    	{% endif %}
									    	<div>
										    	<figcaption>
										    		<h5>{{ post.title}}</h5>
										    	</figcaption>
										   	</div>
									    </a>
									</figure>
								</article>
							{% endfor %}
						</div>
					</div>
				{% endif %}

			</div>
		</div>

		<span>Copyright - {{"now"|date('Y')}}</span>

</section><!-- related -->
